*{
    margin: 0%;
    padding: 0%;
    
}

.header
{
   
    padding-left: 10px;
    background-color: #bcee68;
    height: 70px;
}
.header h1
{
   padding-top: 20px;
   font-style: oblique;
}

.container-fluid
{
    width: 100%;
    height: 100px;
    background-color:#800080;
}
.menu ul{
    display: inline;
    margin: 40px;
    
}
.menu ul li
{
    
    font-size: 20px;
    list-style: none;
    margin: 0 20px;
    color: white;
    cursor: pointer;
}
.logo img
{
   width: 20px;
   margin-top: -7px;
   margin-left:48px;
   border-radius: 22px;
}
.active
{
    color: #fff85b !important;
}
.signup-btn
{
  top: 100px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.signup-btn span
{
    display: block;
    padding: 8px 22px;
}
.login-btn
{
  top: 100px;
  right: 210px;
  position: absolute;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.login-btn span
{
    display: block;
    padding: 8px 22px;
} 
.slider{
    background-image: url(img/82846.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}
.Tasteful h2
{
	background-color: black;
	background-height:cover;
	border-radius: 25px;

}
.guest
{
	border:10px;
	color: #7d9b31;
	font-size: 20px;
	padding-top:40px;


}
.guest img
{

	border-radius: 50%;
	width: 150;
	height: 150px;
}
.guest p
{
	padding-bottom: 20px;
	border:1px solid-black;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}



/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.discovery h3
{

	color:green;
	font-size: 70px;
	font-family:Brush Script MT;
}
.discovery h4
{
	color:solid-black;
	font-size: 40px;
	font-family:Informal Roman;
}
.discovery img
{
	width:750px;
	height:580px;
	border-radius: 20px;
}


